*
{
    padding: 0px;
    margin : 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainWindow
{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 4px double black;
    border-radius: 10px;
}
.gridBox
{
    box-sizing: border-box;
    background-color: red;
    
}
.gridBox :hover
{
    background-color: aqua;
}